<div class="container">
	<div class="margin-center profile-view two-thirds text-center">
		<div class="user-profile-section">
			<p>Username: {{ user_profile.username }}</p>
		</div>

		<div class="user-profile-section">
			<p>First Name: {{ user_profile.first_name }}</p>
		</div>

		<div class="user-profile-section">
			<p>Last Name: {{ user_profile.last_name }}</p>
		</div>

		<div class="user-profile-section">
			<p>Profile Description: </p>
			<p> {{ user_profile.bio }} </p>
		</div>
		
	</div>
</div>