/* Main primary color scheme hex codes */

//@color-primary-0: #18F018; //My terminal font color
@color-primary-0: #008B00;	/* Main Primary color */
@color-primary-1: #00C800;
@color-primary-2: #00AF00;
@color-primary-3: #004300;
@color-primary-4: #000200;
@color-primary-5: #F8F8F8;

/* As RGBa codes for quick reference */
/*
@rgba-primary-0: rgba(  0,139,  0,1);
@rgba-primary-1: rgba(  0,200,  0,1);
@rgba-primary-2: rgba(  0,175,  0,1);
@rgba-primary-3: rgba(  0, 67,  0,1);
@rgba-primary-4: rgba(  0,  1,  0,1);
*/

/* Secondary color scheme */
@color-secondary-0: #BB0000;
@color-secondary-1: #FA3400;
@color-secondary-2: #DB2E00;
@color-secondary-3: #541100;
@color-secondary-4: #020000;

/* Secondary colours */
/*
@rgba-secondary-0: rgba(173, 36,  0,1);
@rgba-secondary-1: rgba(250, 52,  0,1);
@rgba-secondary-2: rgba(219, 46,  0,1);
@rgba-secondary-3: rgba( 84, 17,  0,1);
@rgba-secondary-4: rgba(  2,  0,  0,1);
*/