/* Main primary color scheme hex codes */
/* Main Primary color */
/* As RGBa codes for quick reference */
/*
@rgba-primary-0: rgba(  0,139,  0,1);
@rgba-primary-1: rgba(  0,200,  0,1);
@rgba-primary-2: rgba(  0,175,  0,1);
@rgba-primary-3: rgba(  0, 67,  0,1);
@rgba-primary-4: rgba(  0,  1,  0,1);
*/
/* Secondary color scheme */
/* Secondary colours */
/*
@rgba-secondary-0: rgba(173, 36,  0,1);
@rgba-secondary-1: rgba(250, 52,  0,1);
@rgba-secondary-2: rgba(219, 46,  0,1);
@rgba-secondary-3: rgba( 84, 17,  0,1);
@rgba-secondary-4: rgba(  2,  0,  0,1);
*/
h1 {
  color: #008b00;
}
button {
  color: #0F0;
}
.margin-v-small {
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav a {
  text-decoration: underline;
  font-size: 16px;
}
.post-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}
.posts-header {
  font-weight: bold;
}
.posts-list li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.post_details {
  height: 33px;
  position: relative;
}
.author_name {
  position: absolute;
  left: 0;
}
.post_date {
  position: absolute;
  right: 0;
}
.post_title .title {
  font-weight: 600;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  color: #B00;
}
