/* Main primary color scheme hex codes */
/* Main Primary color */
/* Nice green for text */
/* Secondary color scheme */
body {
  background-color: #222222;
  color: #00af00;
}
button {
  color: #0F0;
}
.margin-v-small {
  margin-top: 5px;
  margin-bottom: 5px;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}
.margin-center {
  margin-left: auto;
  margin-right: auto;
}
.footer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer p {
  color: #00af00;
}
.pagination {
  height: 40px;
  margin: 20px 0;
  font-weight: 600;
}
.pagination ul {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: #000;
  border: 1px solid #FFF;
  border-left-width: 0;
  color: #00af00;
}
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #bb0000;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #000;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #00af00;
  background-color: #bb0000;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  border-radius: 0 3px 3px 0;
}
.navbar a {
  font-size: 16px;
  color: #00af00;
}
.nav > li > a:focus,
.nav > li > a:hover {
  color: #00c800;
  background-color: #222222;
  text-decoration: underline;
}
.navbar {
  background-color: #222222;
}
.navbar p {
  color: #00af00;
}
.post-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}
.posts-header {
  font-weight: bold;
}
.posts-list {
  padding-left: 0;
  padding-right: 0;
  color: #bb0000;
}
.posts-list li {
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 10px;
  position: relative;
  display: block;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.post_wrapper {
  width: 80%;
}
.post_details {
  height: 33px;
  position: relative;
  color: #bb0000;
}
.author_name {
  position: absolute;
  left: 0;
}
.post_date {
  position: absolute;
  right: 0;
}
.post_title .title {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  color: #00af00;
}
.post_body {
  color: #222222;
}
.post_body a {
  color: #00af00;
  text-decoration: underline;
}
.posts_search_toggle {
  cursor: pointer;
}
.posts_search_toggle span {
  padding: 5px 10px 5px 10px;
  background-color: #bb0000;
  font-weight: 600;
}
.posts_search_inputs {
  margin-top: 10px;
  margin-bottom: 10px;
}
.posts_search_inputs .post_search_wrapper {
  display: block;
}
.search_toggle_button {
  display: inline-block;
  min-width: 100px;
  cursor: pointer;
  background-color: #db2e00;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.search_toggle_button span {
  text-align: center;
  width: 100%;
  font-weight: 600;
}
.clear_button {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
  padding: 2px 5px;
  background-color: #db2e00;
  font-weight: 600;
}
.search_input {
  display: inline-block;
}
/* 3D rotate */
.animate-3d-rotate.ng-enter,
.animate-3d-rotate.ng-leave {
  -webkit-transition: 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
  -moz-transition: 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
  -ms-transition: 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
  -o-transition: 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
  transition: 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
  position: relative;
  display: block;
}
.animate-3d-rotate.ng-leave.animate-3d-rotate.ng-leave-active,
.animate-3d-rotate.ng-enter {
  -webkit-transform: rotateX(90deg) rotateZ(90deg);
  -moz-transform: rotateX(90deg) rotateZ(90deg);
  -ms-transform: rotateX(90deg) rotateZ(90deg);
  -o-transform: rotateX(90deg) rotateZ(90deg);
  transform: rotateX(90deg) rotateZ(90deg);
  opacity: 0;
  height: 0px;
}
.animate-3d-rotate.ng-enter.animate-3d-rotate.ng-enter-active,
.animate-3d-rotate.ng-leave {
  -webkit-transform: rotateX(0deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateZ(0deg);
  opacity: 1;
  height: 30px;
}
/* end 3d rotate */
/* Simple move */
.animate-simple-move.ng-enter,
.animate-simple-move.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}
.animate-simple-move.ng-enter.animate-simple-move.ng-enter-active,
.animate-simple-move.ng-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
.animate-simple-move.ng-leave.animate-simple-move.ng-leave-active,
.animate-simple-move.ng-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}
/* end simple move */
