h1 {
  color: #0A0;
}
button {
  color: #0F0;
}
.nav a {
  text-decoration: underline;
  font-size: 16px;
}
.post-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}
.posts-header {
  font-weight: bold;
}
.posts-list li {
  margin-top: 10px;
  margin-bottom: 10px;
}
