.navbar-default .navbar-nav>li>a {
	text-decoration: underline;
	font-size: 16px;
	color: @color-primary-2;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: @color-primary-1;
}

.navbar {
	background-color: @color-primary-4;
}