.post-submit {
	margin-top: 10px;
	margin-bottom: 10px;
}

.posts-header {
	font-weight: bold;
}

.posts-list {
	li {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.post_details {
	height: 33px;
	position: relative;
}

.author_name {
	position: absolute;
	left: 0;
}

.post_date {
	position: absolute;
	right: 0;
}

.post_title .title {
	font-weight: 600;
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;
	text-decoration: underline;
	color: #B00;
}