.post-submit {
	margin-top: 10px;
	margin-bottom: 10px;
}

.posts-header {
	font-weight: bold;
}

.posts-list {
	padding-left: 0;
	padding-right: 0;
	color: @color-secondary-0;
	li {
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
	}
}

.post_details {
	height: 33px;
	position: relative;

	color:  @color-secondary-0;
}

.author_name {
	position: absolute;
	left: 0;
}

.post_date {
	position: absolute;
	right: 0;
}

.post_title .title {
	font-weight: 600;
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;
	text-decoration: underline;
	color: @color-primary-2;
}

.post_body {
	color: @color-primary-4;
	
	a {
		color: @color-primary-2;
		text-decoration: underline;
	}
}

.posts_search_toggle {
	cursor: pointer;
	span {
		padding: 5px 10px 5px 10px;
		background-color: @color-secondary-0;
		font-weight: 600;
	}
}

.posts_search_inputs {
	margin-top: 10px;
	margin-bottom: 10px;
	.post_search_wrapper {
		display: block;
	}
}

.search_toggle_button {
	display: inline-block;
	min-width: 100px;
	cursor: pointer;
	background-color: @color-secondary-2;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;

	span {
		text-align: center;
		width: 100%;
		font-weight: 600;
	}
}

.clear_button {
	display: inline-block;
	cursor: pointer;
	margin: 0 5px;
	padding: 2px 5px;
	background-color: @color-secondary-2;
	font-weight: 600;
}

.search_input {
	display: inline-block;
}

/*
.post_item.ng-enter {
  transition: 1s linear all;
  opacity:0;
}
.post_item.ng-enter-stagger {
  transition-delay: 1s;
  transition-duration: 0s;
}
.post_item.ng-enter.ng-enter-active {
  opacity:1;
}
*/

.post_item.ng-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    display: block;
    position: relative;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        top: -50px;
        left: -5px;
    }
    10% {
        left: 45px;
    }
    20% {
        top: 40px;
    }
    30% {
        left: -35px;
    }
    40% {
        top: -30px;
    }
    50% {
        left: 25px;
    }
    60% {
        top: 20px;
    }
    70% {
        left: -15px;
    }
    80% {
        top: -10px;
    }
    90% {
        left: 5px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
        top: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        top: -50px;
        left: -5px;
    }
    10% {
        left: 45px;
    }
    20% {
        top: 40px;
    }
    30% {
        left: -35px;
    }
    40% {
        top: -30px;
    }
    50% {
        left: 25px;
    }
    60% {
        top: 20px;
    }
    70% {
        left: -15px;
    }
    80% {
        top: -10px;
    }
    90% {
        left: 5px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
        top: 0px;
    }
}
 
.post_item.ng-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    display: block;
    position: relative;
} 
@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        top: -50px;
        left: -5px;
    }
    90% {
        left: 45px;
    }
    80% {
        top: 40px;
    }
    70% {
        left: -35px;
    }
    60% {
        top: -30px;
    }
    50% {
        left: 25px;
    }
    40% {
        top: 20px;
    }
    30% {
        left: -15px;
    }
    20% {
        top: -10px;
    }
    10% {
        left: 5px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
        top: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        top: -50px;
        left: -5px;
    }
    90% {
        left: 45px;
    }
    80% {
        top: 40px;
    }
    70% {
        left: -35px;
    }
    60% {
        top: -30px;
    }
    50% {
        left: 25px;
    }
    40% {
        top: 20px;
    }
    30% {
        left: -15px;
    }
    20% {
        top: -10px;
    }
    10% {
        left: 5px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
        top: 0px;
    }
}
