.profile-edit {
	max-width: 450px;

	p {
		margin-bottom: 5px;
		font-size: 18px;
	}
}

.profile-edit-field {
	width: 100%;
	max-width: 300px;
	min-height: 40px;
	font-size: 18px;
}

.user-profile-edit-section {
	margin-top: 5px;
	margin-bottom: 15px;

	textarea {
		height: 120px;
	}
}