<!DOCTYPE html>
<html>
<head>
	<title>Tomi - MEAN</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/app.css">
<body ng-app='app'>
<div ng-view></div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>
	<!--Access things in the /assets folder as if they were in the webroot -->
	<script type="text/javascript" src='/app.js'></script>
</body>
</html>