<!DOCTYPE html>
<html>
	<head>
		<title>Tomi - CMS</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="simpleLayout.css">
		<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script> <!-- or <script src="//cdn.ckeditor.com/4.4.7/basic/ckeditor.js"></script>-->
	</head>
	<body ng-app='app' ng-controller="ApplicationCtrl">
		<nav class='navbar navbar-fixed-top'>
			<div class="container nav-container">
				<a href="#/" class="navbar-brand">TomiCMS</a>
				<ul class="nav navbar-nav">
					<li ng-if="currentUser == undefined"><a href="#/login" class="navigation-login">Login</a></li>
					<li ng-if="currentUser == undefined"><a href="#/register" class="navigation-register">Register</a></li>
					<li ng-if="currentUser"><a href="#/post/new">New Post</a></li>
					<li ng-if="currentUser"><a href="#/" ng-click="logout()" class="navigation-register">Logout</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="current-user"><a href="http://{{baseUrl}}/#/user/{{currentUser.username}}/">{{ currentUser.username }}</a></li>
				</ul>
			</div>
		</nav>
		<div class="container"><!--Inner page content -->
			<div class="row">
				<div class="col-md-8">
					<div ng-view></div>
				</div>
				<div class="col-md-4">
					<p>Logged in as: <span class="current-user">{{ currentUser.username }}</span></p>
					<div static-include="/sidebar/sidebar.html" class="margin-top--large"></div>
				</div>
			</div>
			<footer>
				<div class="row">
					<div class="col-lg-12">
						<p>Copyright © 2016</p>
					</div>
				</div>
			</footer>
		</div><!-- ./Inner page content -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script type="text/javascript" src='/app.js'></script><!--Access things in the /assets folder as if they were in the webroot -->
	</body>
</html>