<!DOCTYPE html>
<html>
<head>
	<title>Tomi - MEAN</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<body>
<div class="container">
	<h1>Recent Posts:</h1>
	<ul class="list-group">
		<li class="list-group-item">
			<strong>user1</strong>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
		</li>
		<li class="list-group-item">
			<strong>user2</strong>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
		</li>
		<li class="list-group-item">
			<strong>user3</strong>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
		</li>
	</ul>
</div>
</body>
</html>