<div class="container">
	<form ng-submit="register(username, password, password_confirm)">
		<div class="form-group">
			<label>Username</label>
			<input type="email" class="form-control" ng-model="username" required />
		</div>
		<div class="form-group">
			<p ng-if="validationMessage">
			Invalid input: {{validationMessage}}
			</p>
			<label>Password</label>
			<input type="password" class="form-control" ng-model="password" required />
			<label>Confirm Password</label>
			<input type="password" class="form-control" ng-model="password_confirm" required />
		</div>
		<input class="btn btn-success btn-lg btn-block register-submit" type="submit" value="Register">
	</form>
</div>