<form ng-submit="register(username, password, password_confirm)">
	<div>
		<div class="margin-v--medium">
			<label>Email: </label>
			<input type="email" class="form-control" ng-model="username" placeholder="Email Address" autocomplete="off" required />
		</div>
		<div class="margin-v--medium">
			<label>Password:</label>
			<input type="password" class="form-control" ng-model="password" placeholder="Password" autocomplete="off" required />
		</div>
		<div class="margin-v--medium">
			<label>Confirm Password:</label>
			<input type="password" class="form-control" ng-model="password_confirm" placeholder="Confirm Password" autocomplete="off" required />
		</div>
	</div>
	<p ng-if="validationMessage">
		Invalid input: {{validationMessage}}
	</p>
	<input class="btn btn-lg register-submit" type="submit" value="Register">
</form>
