<div class="container" ng-controller="SinglePostCtrl">
	<p>Single post content</p>
	<ul ng-if="post.length" class="posts-list">
		<!--<input type="text" ng-model="search">-->
		<li ng-repeat="item in post" class="post_item animate-3d-rotate">
		<div class="post_wrapper margin-center">
			<div class="post_details">
				<h5 class="author_name">Posted by: <strong>{{ item._author.username }}</strong><h5>
				<h5 class="post_date">Posted on: {{ item.date | date:'yyyy-MM-dd @ h:mm a' }}</h5>
			</div>	
			<div class="post_title"><p class="title">{{ item.title }}</p></div>
			<div class="post_body" ng-bind-html="item.body | output_html"></div>
		</div>
		</li>
	</ul>
</div>