<div class="container" ng-controller="ProfileCtrl">
	<h1 class="page-title">Profile: {{ user_profile.username  }}</h2>
	<div class="margin-center profile-edit two-thirds text-center">
	<h5 ng-if="canEdit">You have permissions to edit this user profile</h5>
		<div class="user-profile-edit-section">
			<p>Username: </p>
			<input type="text" ng-model="new.username" placeholder="{{ user_profile.username }}" class="profile-edit-field">
		</div>

		<div class="user-profile-edit-section">
			<p>First Name: </p>
			<input type="text" ng-model="new.first_name" placeholder="{{ user_profile.first_name }}" class="profile-edit-field">
		</div>

		<div class="user-profile-edit-section">
			<p>Last Name: </p>
			<input type="text" ng-model="new.last_name" placeholder="{{ user_profile.last_name }}" class="profile-edit-field">
		</div>

		<div class="user-profile-edit-section">
			<p>Profile Description: </p>
			<textarea type="text" ng-model="new.bio" placeholder="{{ user_profile.bio }}" class="profile-edit-field"></textarea>
		</div>
		
		<a ng-if="canEdit" ng-click="saveProfile()" class="btn btn-large btn-primary">Save Profile</a>
		<div class="alert" role="alert alert-success">
			<p>{{ returnMessage }}</p>
		</div>
	</div>
</div>